@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background: #F76400;
    color: white;
}

.body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 aut
}

.details__content-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 75px;
}

.details___header-block_vc_mijia-1s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 50px;
    padding-top: 100px;
    max-height: 650px;
    width: 100%;
    color: #242424;
    background-color: #E1E2E4;
}

.details__header-block-title {
    font-size: 42px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: #F76400;
    line-height: 1.5;
    max-width: 680px;
}

.details__header-block-description {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    max-width: 680px;
}

.details__header-block-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 680px;
    padding: 0;
    margin: 0;
    list-style-type: circe solid;
}

.details__header-block-list {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.details__header-block-mijia-1s-image {
    object-fit: cover;
    width: 80%;
    height: auto;
}

.pt100p {
    padding-top: 100px !important;
}

.mb30p {
    margin-bottom: 30px;
}

.nopb {
    padding-bottom: 0 !important;
}

.details__china-block-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    color: #F76400;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 80%;
}

.details__china-block-title_clr_white {
    color: white;
}

.details__china-block-title_clr_black {
    color: black;
}

.details__china-block-description {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.55;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 80%;
}

.details__china-block-description:only-of-type {
    margin-bottom: 0;
}

.details__china-block-description:last-of-type {
    margin-bottom: 0;
}

.details__china-advantages-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1E2A;
    color: white;
    padding: 50px 0;
    margin: 0;
}

.details__china-advantages-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    list-style-type: none;
    padding: 0 40px;
    margin: 0;
    box-sizing: border-box;
}

.details__china-advantages-icons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 32%;
    box-sizing: border-box;
}

.details__china-advantages-icons-list:nth-child(2) {
    margin: 0 20px;
}

.details__china-advantages-icon-box {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    margin-right: 15px;
}

.details__china-advantages-icons-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.details__china-advantages-icons-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #F76400;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.details__china-advantages-icons-subtitle {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #8B8B8B;
    margin-bottom: 15px;
}

.details__china-advantages-icons-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.details__china-advantages-icons-text:last-of-type {
    margin-bottom: 0;
}

.details__text-cover-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/details__block_planning_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.details__text-cover-title {
    width: 80%;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.details__efficiency-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    color: #242424;
}

.details__efficiency-picture {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.details__icons-pan-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: -o-linear-gradient(310deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 100%);
    background: linear-gradient(140deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 100%);
}

.details__icons-pan-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details__icons-pan-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 570px;
    padding: 30px 65px;
    margin: 0;
    box-sizing: border-box;
    color: #242424;
}

.details__icons-pan-image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin-right: 15px;
}

.details__icons-pan-icon-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.details__icons-pan-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #F76400;
}

.details__icons-pan-text {
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.details__china-regular-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    color: #242424;
    padding: 0;
    margin: 0;
}

.details__china-regular-section_clr_grey {
    background: #e9e9eb;
    padding: 75px 50px 0 50px;
}

.details__china-regular-section_clr_greyer {
    background: #dadee1;
    padding: 75px 50px 0 50px;
    text-align: left;
}

.details__china-regular-section_clr_grey-2 {
    background-color: #E2E2E4;
    padding: 75px 50px 0 50px;
}

.details__china-regular-section_clr_purple {
    background: #C8C8D0;
    padding: 75px 50px 0 50px;
    text-align: left;
}

.details__china-regular-section_clr_white {
    background: white;
    padding: 75px 50px 0 50px;
}

.details__double-title-image {
    width: 800px;
    height: 385px;
    object-fit: contain;
    object-position: center;
    margin: 15px;
}

.details__china-regular-section-text-wrap {
    padding: 75px;
    color: #242424;
    text-align: left;
}

.details__china-regular-section-text-wrap_clr_dark {
    background: #1A1E2A;
    color: #fff;
}

.details__china-regular-section-text-wrap_clr_black {
    padding-top: 50px;
    padding-bottom: 0;
    background: #000;
    color: #fff;
}

.details__china-regular-section-text-wrap_clr_dark-grey {
    color: white;
    background: #1a1b20;
}

.details__mijia-1s-regular-image {
    object-fit: cover;
    object-position: center;
}

.details__china-regular-section-row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    width: 520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: #e9e9eb;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.details__china-regular-section-row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #242424;
    border-radius: 8px solid grey;
}

.details__china-regular-section-row-title {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    color: #F76400;
    font-weight: bold;
}

.details__china-regular-section-row-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}

.details__room-image {
    object-fit: cover;
    object-position: center;
}

.details__china-text-list {
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: #F76400;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    list-style-type: none;
}

.details__china-text-list-item {
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal;
    color: #242424;
    margin: 0;
    padding: 0;
}

.text-centered {
    text-align: center !important;
}

.details__china-regular-section-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 50px 25px 50px;
    margin: 0;
}

.details__china-grid-section {
    background-color: #e9e9eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    text-align: center;
}

.details__china-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #242424;
    margin-top: 30px;
}

.details__china-grid-item {
    width: 100%;
    align-items: center;
    justify-items: center;
}

.details__china-grid-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3;
    color: #F76400;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.details__china-grid-text {
    font-size: 12px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .details___header-block_vc_mijia-1s {
        padding-top: 75px;
    }
}

@media (max-width: 600px) {
    .details__header-block-mijia-1s-image {
        width: 100%;
        height: 100%;
    }
}